@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap');

* {
    font-family: 'Segoe UI', sans-serif;
}

header .navigation-bar a {
    color : #5B4CBA;
}

header nav {
    background-color: white;
}

header nav.active .toggle span {
    background-color: #000;
}

.heading { 
    background: url(../images/fond_stats.png) no-repeat fixed 0% -200px;
    background-size: cover;
    height: 550px;
}

h1{
    color: #85007F;
    text-align: center;
    font-size: 70px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}
/******* Page *******/

main{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

strong{
    color: #b40034;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
    margin-bottom: 2%;
    color : #6B28A6;
}

main img{
    height: 250px;
    margin: 2%;
    border-radius: 30px;
    box-shadow: -10px 15px 50px rgba(0, 0, 0, 0.5);
}

.texte{
    text-align: justify;
    padding: 2em;
}

section a{
    color: blue;
}

section a:hover{
    color: rgb(0, 204, 255);
}
