@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap');

* {
    font-family: 'Segoe UI', sans-serif;
}

/* Corrections */

header .navigation-bar a {
    color : #560FAF;
}

header nav {
    background-color: white;
}



header nav.active .toggle span {
    background-color: #000;
}

/* Fin corrections */

hr {
    border: 1px solid #560FAF;
    width: 50%;
    margin: 2% auto;
}

.heading { 
    background: url(https://www.entreprendre.fr/wp-content/uploads/AdobeStock_380790740_Editorial_Use_Only.jpeg) no-repeat fixed 5% -400px;
    background-size: cover;
    height: 550px;
}

h1 {
    color:#85007F;
    text-align: center;
    font-size: 70px;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

/******* Page *******/

main{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2 {
    margin-bottom: 2%;
    color : #6B28A6;
    border-right : 5px solid #6B28A6;
    margin: 25px;
    padding : 15px
}

main img{
    height: 300px;
    margin: 2%;
    border-radius: 30px;
    box-shadow: -10px 15px 50px rgba(0, 0, 0, 0.5);
}

strong{
    color: #b40034;
}

.texte {
    text-align: justify;
    padding: 2em;
}

img:hover{
    transform: scale(1.05);
    transition: 0.5s;
}   

.test {
    position: relative;
    overflow: visible;
}

.w3c-youre-boring {
    visibility: hidden;
}

.test figcaption {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;

    color : #5B4CBA;
    font-weight: bold;
    visibility: hidden;
    text-align: center;
    font-size: 2px;
}

.test:hover figcaption {
    visibility: visible;
    font-size: 20px;
    transition: font-size 1s;
}

.graph-container {
    width: 50%;
    margin: 20px;
}

