@import url(https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap);

/*Debut Global*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 12px;
    padding-right: 7px;
}
body.hide-scroll::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
}

h2 {
    font-size: 110px;
    font-weight: normal;
    margin: 0 0 -55px;
}
h1, h3 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
    border: #000 3px;
}
p {
    color: #515151;
    line-height: 27px;
}
.a-CTA {
    border-bottom: 2px solid #2ed1ff;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
}

/* Couleur #00406b et effet de profondeur */
.description {
    color: #ffffff;
    text-shadow: 0 0 5px #707070;
}

/*Fin Global*/

/*Debut Mutual*/

p, .a-CTA, input, header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
    font-family: Cabin, sans-serif;
}
.fa-asterisk, .a-CTA, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #0098c2;
}
header nav .navigation-bar .underline, .contact .form form button:hover, .contact .text i:hover {
    background-color: #00aaff;
}

h2 {
    color : #0098c2;
    text-align: center;
}

h3 {
    text-align: center;
}

header .text .button button:hover {
    font-size: 14px;
    transition: border 2s .2s
    , font-size 1s .2s;
}

header .navigation-bar ul li, header .text, .about-us .text, .economie .text, .quadrillage .box-model, .quadrillage .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
}
header nav, header .navigation-bar ul, .about-us, .economie, .about-us .image-container, .economie .image-container, .quadrillage, .quadrillage .quadrillage-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
}
header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .quadrillage .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
}
header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .partie1, .quadrillage .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
}
header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .partie1 .text, .quadrillage .box-model .close, .quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left, .quadrillage .box-image-container .box-image, .copyright .svg-up {
    position: absolute;
}
.partie1 .text, .fixed-image .text, .quadrillage .box-image-container, .quadrillage .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .quadrillage .box-model, .quadrillage .box-image-container, .quadrillage .box-image-container .box-image {
    width: 100%;
}
button, .dots > div, header nav .toggle, header .arrow-down, .quadrillage .box-model .close, .quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left, .quadrillage .quadrillage-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
}
.dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
}
h1, h3, header .navigation-bar a, header .text span, .quadrillage .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
}
header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .quadrillage .box-model, .copyright .arrow-up {
    left: 0;
}
header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
}

/* Animation de border-bottom sur les class .a-CTA */

.a-CTA {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

.a-CTA:hover {
    border-bottom: 2px solid #2ed1ff;
}




/*Fin Mutual*/

/* Dots --> 3 petits points de navigation */
/*Debut Dots*/
.dots {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0,-50%);
    z-index: 5;
}
.dots > div  {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 20;
    margin-bottom: 10px;
    border: 2px solid #fff;
}
.dots .black {
    border-color: #000;
}
.dots .active.black {
    background-color: #000;
}
/*Fin Dots*/

/*Debut Loader*/
.loader-wrap, .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.loader-wrap {
    background-color: #00406b;
    z-index: 30;
}
.loader-wrap.remove {
    display: none;
}
.loader {
    margin: auto;
    height: 40px;
    width: 80px;
    box-sizing: border-box;
}
.loader .loader-item {
    position: relative;
    float: left;
    height: 40px;
    width: 4px;
    margin: 0 2px;
    background-color: #fff;
}
.loader .loader-item:nth-child(1) {
    -webkit-animation: loader-item-1 2s linear infinite;
    animation: loader-item-1 2s linear infinite;
}
.loader .loader-item:nth-child(2) {
    -webkit-animation: loader-item-2 2s linear infinite;
    animation: loader-item-2 2s linear infinite;
}
.loader .loader-item:nth-child(3) {
    -webkit-animation: loader-item-3 2s linear infinite;
    animation: loader-item-3 2s linear infinite;
}
.loader .loader-item:nth-child(4) {
    -webkit-animation: loader-item-4 2s linear infinite;
    animation: loader-item-4 2s linear infinite;
}
.loader .loader-item:nth-child(5) {
    -webkit-animation: loader-item-5 2s linear infinite;
    animation: loader-item-5 2s linear infinite;
}
.loader .loader-item:nth-child(6) {
    -webkit-animation: loader-item-6 2s linear infinite;
    animation: loader-item-6 2s linear infinite;
}
.loader .loader-item:nth-child(7) {
    -webkit-animation: loader-item-7 2s linear infinite;
    animation: loader-item-7 2s linear infinite;
}
.loader .loader-item:nth-child(8) {
    -webkit-animation: loader-item-8 2s linear infinite;
    animation: loader-item-8 2s linear infinite;
}
.loader .loader-item:nth-child(9) {
    -webkit-animation: loader-item-9 2s linear infinite;
    animation: loader-item-9 2s linear infinite;
}
.loader .loader-item:nth-child(10) {
    -webkit-animation: loader-item-10 2s linear infinite;
    animation: loader-item-10 2s linear infinite;
}
.loader:after {
    content: 'Chargement...';
    font-size: 16px;
    font-family: Arial, serif;
    color: #2ed1ff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    margin: auto;
}
@-webkit-keyframes loader-item-1 {
    1% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    11% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    21% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-1 {
    1% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    11% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    21% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-2 {
    7% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    17% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    27% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-2 {
    7% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    17% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    27% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-3 {
    13% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    23% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    33% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-3 {
    13% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    23% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    33% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-4 {
    19% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    29% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    39% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-4 {
    19% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    29% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    39% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-5 {
    25% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    35% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    45% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-5 {
    25% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    35% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    45% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-6 {
    31% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    41% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    51% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-6 {
    31% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    41% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    51% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-7 {
    37% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    47% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    57% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-7 {
    37% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    47% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    57% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-8 {
    43% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    53% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    63% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-8 {
    43% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    53% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    63% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-9 {
    49% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    59% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    69% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-9 {
    49% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    59% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    69% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes loader-item-10 {
    55% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    65% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    75% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes loader-item-10 {
    55% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    65% {
        -webkit-transform: scaleY(1.4);
        transform: scaleY(1.4);
    }
    75% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
/*Fin Loader*/

/*Debut Home Page*/

/*Debut Header*/
header {
    height: calc(100vh - 22px); 
    background: url("https://cdn.blablacar.com/kairos/assets/images/carpool_blablabus_small-aacb46bde375e3196927.svg") fixed bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 70px;
}
header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px;
    z-index: 20;
}
header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
}
header nav .toggle:focus {
    outline: none;
}
header nav.active .toggle span {
    background-color: #000;
}
header nav .toggle.active {
    left: 32%;
}
header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
}
header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
}
header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
}
header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
}
header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
}
header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;

}

.logo img {
    max-width:50px;
}
header .navigation-bar.show {
    width: 40%;
}
header .navigation-bar.show a {
    color: #ccc !important;
}
header .navigation-bar.show a:hover {
    color: #fff !important;
}
header .navigation-bar ul li {
    flex: 1;
    padding: 0 10px;
}
header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
}
header nav.active .navigation-bar a {
    color: #000;
}

/* Animation underline */
header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
}
header .text {
    top: 24%;
}
header .text h1 {
    margin-bottom: 0;
}

header .text span h1 {
    color : white;
    text-shadow: 0 0 5px #707070;
}

header .text h1 {
    color : black;
    text-shadow: 0 0 10px #2d333998;
}

header .text h2 {
    text-shadow: #475965 0px 0px 7px;
}

header .text .arrow .left, header .text .arrow .right {
    height: 3px;
    width: 100px;
}
header .text .arrow .left {
    left: -4%;
}
header .text .arrow .right {
    right: -4%;
}
header .text .arrow .left:after, header .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: #fff;
    top: -8px;
}
header .text .arrow .right:after {
    right: 0;
    border-color: transparent #fff transparent transparent;
}
header .text .arrow .fa-asterisk {
    vertical-align: super;
}
header .text span {
    font-size: 25px;
    margin-bottom: 12px;
}
header .text .button button, .contact form button {
    border: none;
    padding: 9px 18px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-family: source_sans_problack, sans-serif;
    border-radius: 3px;
}
header .text .button button, .contact form button:focus {
    outline: none;
}
header .svg-down {
    bottom: 0;
    left: 50%;
    z-index: 5;
    margin-left: -96px;
    margin-bottom: -12px;
    color: #fff;
}
header .arrow-down {
    width: 70px;
    height: 50px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    background: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/arrow-down.png") no-repeat center;
}

/*Fin Header*/

/*Debut About-Us*/
.about-us, .economie {
    padding: 60px;
}
.about-us .text, .economie .text {
    flex: 50%;
    padding: 40px 52px 0 0;
}
.about-us .text h3, .economie .text h3 {
    color: #000;
}
.about-us .text .fa-asterisk, .economie .text .fa-asterisk {
    color: #9a9998;
}
.about-us .image-container, .economie .image-container {
    flex: 50%;
}
.about-us .image, .economie .image {
    margin-left: 20px;
}
/*Fin About-Us*/

/*Debut Partie1*/
.partie1 .image {
    height: 350px;
    background: url("https://img.freepik.com/vecteurs-premium/coucher-soleil-dore-foret-montagne-route-vide_104785-1247.jpg") fixed center;
    background-size: cover;
}
/*Fin patie1 (ref pour navigation)*/

/*Debut quadrillage*/
.quadrillage {
    padding: 60px;
}
.quadrillage .box-model {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.7);
}
.quadrillage .box-model.active {
    display: block;
}
.quadrillage .box-model.active body {
    overflow: hidden;
}
.quadrillage .box-model .close {
    color: #ccc;
    right: 25px;
    top: 10px;
    z-index: 20;
}
.quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 50%;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 20;
}
.quadrillage .box-model .arrow .arrow-left {
    left: 20px;
    transform: rotate(-135deg);
}
.quadrillage .box-image-container {
    height: 100%;
}
.quadrillage .box-image-container .box-image img.active {
    animation: scale .5s;
}
@keyframes scale {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}
.quadrillage .quadrillage-image-container {
    flex-wrap: wrap;
    flex: 60%;
}
.quadrillage .quadrillage-image-container .image {
    margin: 0 20px 20px 0;
    flex: calc( 50% - 40px);
}
.quadrillage .text {
    flex: 55%;
    padding: 40px 0 0 62px;
}
.quadrillage .text h3 {
    color: #000;;
}
.quadrillage .text .fa-asterisk {
    color: #ff8000;
}
/*Fin Quadrillage*/

/*Start fixed-image*/
.fixed-image {
    background: url("https://static.vecteezy.com/ti/vecteur-libre/p3/5732470-coucher-de-soleil-paysage-avec-empy-route-dans-le-desert-avec-montagnes-vectoriel.jpg") fixed center;
    background-size: cover;
    height: 400px;
}
/*Fin fixed-image*/

/*Debut Footer*/
footer {
    background-color: #121212;
    padding: 60px 20px;

    /* Réduire sa hauteur */
    height: 300px;
}
footer .text {
    max-width: 500px;
    margin: auto;
}
footer .text h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
}
footer .text .fa-asterisk {
    font-size: 12px;
}
footer .text p {
    line-height: 27px;
}
footer .contact-container {
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
}
footer .contact-container > div {
    flex: 1;
}
footer .contact-container h3 {
    font-size: 19px;
    letter-spacing: 1.9px;
}
footer .social-media .links a {
    margin: 0 10px;
    font-size: 25px;
}
footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
}
footer .newsletter i {
    margin-left: -40px;
    vertical-align: middle;
    font-size: 21px;
}
.copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
}
.copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
}
.copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
}
.copyright ul {
    justify-content: center;
}
.copyright li {
    color: #919191;
    font-size: 14px;
}
.copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}
.copyright .CTA {
    margin-top: 25px;
}
.copyright .CTA li a {
    color: #919191;
}

/*Fin Footer*/

/*Fin Home Page*/

/*Debut contact*/

/*Fin contact*/

/*Debut Responsive*/

@media (max-width: 1200px) {
    .quadrillage, .about-us, .economie {
        padding: 60px 40px;
    }
    .about-us .text, .economie .text {
        padding: 0 32px 0 0;
    }
    .about-us .image-container, .economie .image-container {
        align-items: center;
    }
    .quadrillage .text {
        padding: 0 0 0 32px;
    }
}

@media (max-width: 992px) {
    body {
        padding: 0;
    }
    .dots {
        display: none;
    }
    header {
        height: calc(100vh - 10px);
    }
    header nav .logo {
        padding-left: 0;
    }
    .about-us {
        display: block;
        padding-top: 50px;
    }
    .about-us .text , .economie .text {
        padding: 0 0 40px;
    }
    .about-us .image-container .image1, .economie .image-container .image1 {
        margin-left: 0;
    }
    .quadrillage {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .quadrillage .text {
        padding: 20px 20px 0 0;
    }
    .economie {
        display: block;
        padding: 30px 20px 60px;
    }
    .contact {
        display: block;
        padding: 78px 20px;
    }
    .contact .form {
        margin-left: 0;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 25px;
    }
    header nav .toggle {
        display: block;
    }
    header .navigation-bar {
        position: fixed;
        top: 0;
        left: -174px;
        height: 100%;
        background-color: #262526;
        overflow: hidden;
        z-index: 20;
        padding: 40px;
    }
    header .navigation-bar ul {
        display: block;
        padding-top: 40px;
    }
    header .navigation-bar ul li {
        text-align: left;
        padding: 14px 0;
    }
    footer .contact-container {
        display: block;
    }
    footer .social-media {
        margin-bottom: 40px;
    }
    .copyright ul {
        display: block;
        margin-top: -20px;
    }
    .copyright li {
        margin-bottom: 5px;
    }
    .copyright li:not(:last-of-type):after {
        content: '';
    }

}

@media (max-width: 576px) {
    h3, h1 {
        font-size: 40px;
    }
    h2 {
        font-size:90px
    }
    header {
        padding: 0;
    }
    header nav .logo {
        padding-left: 0;
    }
    header nav .toggle.active {
        left: 36%;
    }
    header .navigation-bar.show {
        padding: 20px;
        width: 48%;
    }
    .about-us, .economie {
        padding: 60px 20px;
    }
    .quadrillage {
        padding: 60px 0 60px 20px;
    }
}

/*Fin Responsive*/

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2ed1ff;
}

::-webkit-scrollbar-thumb:hover {
    background: #009eca;
    border: none;
}


/* Optionnel mais par soucis de particit&é */
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Tests */


/* Animation sur logo */

.text img {
    animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.copyright li a:hover {
    text-decoration: underline;
}

/* Style page service */ 

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/******* Navbar *******/

#logo{
    display: flex;
    height: 60px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none; /* Ajout de la suppression du soulignement des liens */
}


.navbar{
    display: flex;
    overflow: hidden;
    background: linear-gradient(108deg, rgba(5,185,200,1) 16%, rgba(0,92,168,1) 50%, rgba(12,14,107,1) 95%);
    width: 100%;
    opacity: 1;
    text-align: center;
    padding: 10px 13px; /* Regroupement de padding-top et padding-bottom */
    z-index: 100;

}

.navbar a{
    font-size: 1.2em;
    margin: 0 20px 0 20px; /* Réduction de la marge */
    display: inline-block;
    padding: 14px 16px;
    padding-left: 6em;
}

.navbar a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff; /* Couleur de la ligne */
    transition: transform 0.3s ease; /* Animation de la largeur */
    transform-origin: right;
    transform: scaleX(0);
}

.navbar a.active::after {
    width: 100%; /* Ligne à 100% de la largeur */
    transform: scaleX(1); /* L'élément se développe à 100% de la largeur */
}

/* Animation au survol */
.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/******* Titre *******/
/*.title{
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50%;
    border-radius: 100%;
}*/

.title{ 
    padding-top: 70px;
    /*background: url(service.webp) no-repeat fixed 50% 50%;*/
    background: url(Blablamoche.png) no-repeat fixed 10% 10%;
    background-size: cover;
    height: 500px;
    border-bottom: solid 2px #252525;
}

h1{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 70px;
}

/******* Page *******/

main{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
    margin-bottom: 2%;
}

main img{
    height: 250px;
    margin: 2%;
    border-radius: 30px;
    box-shadow: -10px 15px 50px rgba(0, 0, 0, 0.5);
}

hr{
    border: solid 1px black;
    width: 100%;
}

.texte{
    text-align: justify;
    padding: 2em;
}

section a{
    color: blue;
}

section a:hover{
    color: rgb(0, 204, 255);
}

.texte .all_logo{
    display:flex;
}

.all_logo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.all_logo a{
    display: inline-block;
    margin-left: 10px;
    width: 9%;
}
.all_logo img{
    height: 100px;
}

.all_logo a:hover{
    animation: respire 2s ease-in-out infinite;
}

@keyframes respire {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}
