@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/******* Titre *******/
/*.title{
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50%;
    border-radius: 100%;
}*/

.title{ 
    /*background: url(service.webp) no-repeat fixed 50% 50%;*/
    background: url(../images/Blablamoche.png) no-repeat fixed 10% 5px;
    background-size: cover;
    height: 550px;
    border-bottom: solid 2px #252525;
}

h1{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-size: 70px;
}

/******* Page *******/

main{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
    margin-bottom: 2%;
}

main img{
    height: 250px;
    margin: 2%;
    border-radius: 30px;
    box-shadow: -10px 15px 50px rgba(0, 0, 0, 0.5);
}

hr{
    border: solid 1px black;
    width: 100%;
}

.texte{
    text-align: justify;
    padding: 2em;
}

section a{
    color: blue;
}

section a:hover{
    color: rgb(0, 204, 255);
}

.texte .all_logo{
    display:flex;
}

.all_logo{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.all_logo a{
    display: inline-block;
    margin-left: 10px;
    width: 9%;
}
.all_logo img{
    height: 100px;
}

.all_logo a:hover{
    animation: respire 2s ease-in-out infinite;
}

@keyframes respire {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}

