@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap');

/*Debut Global*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 12px;
    padding-right: 7px;
}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
}

h2 {
    font-size: 110px;
    font-weight: normal;
    margin: 0 0 -55px;
}
h1, h3 {
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
    border: #000 3px;
}
p {
    color: #515151;
    line-height: 27px;
}

.a-CTA {
    border-bottom: 2px solid #B227AB;
    padding-bottom: 4px;
    letter-spacing: 1.5px;
    font-size: 18px;
}

/* effet de profondeur avec shadow pour rendre + lisible */
.description {
    color: #ffffff;
    text-shadow: 0 0 5px #707070;
}

/*Fin Global*/

/*Debut Mutual*/

p, .a-CTA, input, .copyright li, .contact .form form label, .contact .form form button {
    font-family: 'Segoe UI', sans-serif;
}
.fa-circle, .a-CTA, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #B227AB;
}
header nav .navigation-bar .underline, .contact .form form button:hover, .contact .text i:hover {
    background-color: #B227AB;
}

h2 {
    color : #85007F;
    text-align: center;
}

h3 {
    text-align: center;
}

header .text .button button:hover {
    background-color: transparent;
    color : #fff;
    border: 1px solid #fff;
    font-weight: bold;
    transition: all .3s;
}

header .navigation-bar ul li, header .text, .about-us .text, .economie .text, .quadrillage .box-model, .quadrillage .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
}
header nav, header .navigation-bar ul, .about-us, .economie, .about-us .image-container, .economie .image-container, .quadrillage, .quadrillage .quadrillage-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
}
header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .quadrillage .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
}
header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .partie1, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
}
header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .partie1 .text, .quadrillage .box-model .close, .quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left, .copyright .svg-up {
    position: absolute;
}
.partie1 .text, .fixed-image .text {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .quadrillage .box-model {
    width: 100%;
}
button, .dots > div, header nav .toggle, header .arrow-down, .quadrillage .box-model .close, .quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left, .quadrillage .quadrillage-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
}
.dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
}
h1, h3, header .navigation-bar a, header .text span, .quadrillage .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
}
header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .quadrillage .box-model, .copyright .arrow-up {
    left: 0;
}
header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
}

/* Animation de border-bottom sur la classe .a-CTA (liens -> a et CTA -> call-to-action) */

.a-CTA {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .3s;
}

.a-CTA:hover {
    border-bottom: 2px solid #B227AB;
}


/*Fin Mutual*/

/* Dots --> 3 petits points de navigation, voir dans js pour partie changement de couleurs selon position*/
/*Debut Dots*/
.dots {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translate(0,-50%);
    z-index: 5;
}
.dots > div  {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 20;
    margin-bottom: 10px;
    border: 2px solid #fff;
}
.dots .black {
    border-color: #000;
}
.dots .active.black {
    background-color: #000;
}
/*Fin Dots*/

/*Debut Home Page*/

/*Debut Header*/
header {
    height: calc(100vh - 22px); 
    background: url("https://img.freepik.com/premium-photo/aerial-top-view-asphalt-road-with-car-through-xagreen-forest-corn-field-summer_633077-1157.jpg?w=900") fixed bottom;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 70px;
}
header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px;
    z-index: 20;
}
header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
}
header nav .toggle:focus {
    outline: none;
}
header nav.active .toggle span {
    background-color: #000;
}
header nav .toggle.active {
    left: 32%;
}
header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
}
header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
}
header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
}
header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
}
header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
}
header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;

}

.logo img {
    max-width:50px;
}
header .navigation-bar.show {
    width: 40%;
}
header .navigation-bar.show a {
    color: #ccc !important;
}
header .navigation-bar.show a:hover {
    color: #fff !important;
}
header .navigation-bar ul li {
    flex: 1;
    padding: 0 10px;
}
header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
}
header nav.active .navigation-bar a {
    color: #560FAF;
}

/* Animation underline */
header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
}

header .text {
    top: 24%;
}
header .text h1 {
    margin-bottom: 0;
}

header .text .leX h1 {
    color : white;
    text-shadow: 0 0 5px #707070;
}

header .text h1 {
    color : #420a88;
    text-shadow: 0 0 10px #2d333998;
}

header .text h2 {
    text-shadow: #475965 0px 0px 7px;
}

header .text .arrow .left, header .text .arrow .right {
    height: 3px;
    width: 100px;
}
header .text .arrow .left {
    left: -4%;
}
header .text .arrow .right {
    right: -4%;
}
header .text .arrow .left:after, header .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: #fff;
    top: -8px;
}
header .text .arrow .right:after {
    right: 0;
    border-color: transparent #fff transparent transparent;
}
header .text .arrow .fa-asterisk {
    vertical-align: super;
}
header .text span {
    font-size: 25px;
    margin-bottom: 12px;
}
header .text .button button, .contact form button {
    border: none;
    padding: 9px 18px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
}

header .navigation-bar a {
    font-family: 'Poppins', sans-serif;
}

header .text .button button, .contact form button:focus {
    outline: none;
}
header .svg-down {
    bottom: 0;
    left: 50%;
    z-index: 5;
    margin-left: -96px;
    margin-bottom: -12px;
    color: #fff;
}
header .arrow-down {
    width: 70px;
    height: 50px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    background: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/arrow-down.png") no-repeat center;
}

/*Fin Header*/

/*Debut About-Us*/
.about-us, .economie {
    padding: 60px;
}
.about-us .text, .economie .text {
    flex: 50%;
    padding: 40px 52px 0 0;
}
.about-us .text h3, .economie .text h3 {
    color: #000;
}
.about-us .text .fa-asterisk, .economie .text .fa-asterisk {
    color: #9a9998;
}
.about-us .image-container, .economie .image-container {
    flex: 50%;
}
.about-us .image, .economie .image {
    margin-left: 20px;
}
/*Fin About-Us*/

/*Debut Partie1*/
.partie1 .image {
    height: 350px;
    background: url("https://img.freepik.com/premium-photo/top-view-top-high-pine-trees-road-middle_177415-1039.jpg?w=900") fixed center;
    background-size: cover;
}
/*Fin patie1 (ref pour navigation)*/

/*Debut quadrillage*/
.quadrillage {
    padding: 60px;
}
.quadrillage .box-model {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.7);
}
.quadrillage .box-model.active {
    display: block;
}
.quadrillage .box-model.active body {
    overflow: hidden;
}
.quadrillage .box-model .close {
    color: #ccc;
    right: 25px;
    top: 10px;
    z-index: 20;
}
.quadrillage .box-model .arrow .arrow-right,.quadrillage .box-model .arrow .arrow-left {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 50%;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 20;
}
.quadrillage .box-model .arrow .arrow-left {
    left: 20px;
    transform: rotate(-135deg);
}
.quadrillage {
    height: 100%;
}
.quadrillage .box-image img.active {
    animation: scale .5s;
}
@keyframes scale {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}
.quadrillage .quadrillage-image-container {
    flex-wrap: wrap;
    flex: 60%;
}
.quadrillage .quadrillage-image-container .image {
    margin: 0 20px 20px 0;
    flex: calc( 50% - 40px);
    max-width: 250px;
}
.quadrillage .text {
    flex: 55%;
    padding: 40px 0 0 62px;
}
.quadrillage .text h3 {
    color: #000;;
}
/*Fin Quadrillage*/

/*Start fixed-image*/
.fixed-image {
    background: url("https://img.freepik.com/premium-photo/aerial-view-road-passing-forest-with-car-passing-by_31825-453.jpg?w=900") fixed center;
    background-size: cover;
    height: 400px;
}
/*Fin fixed-image*/

/*Debut Footer*/
footer {
    background-color: #121212;
    padding: 60px 20px;

    /* Réduire sa hauteur */
    height: 300px;
}
footer .text {
    max-width: 500px;
    margin: auto;
}
footer .text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    letter-spacing: 1.9px;
    margin-bottom: 25px;
}
footer .text .fa-asterisk {
    font-size: 12px;
}
footer .text p {
    line-height: 27px;
}
footer .contact-container {
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
}
footer .contact-container > div {
    flex: 1;
}
footer .contact-container h3 {
    font-size: 19px;
    letter-spacing: 1.9px;
}
footer .social-media .links a {
    margin: 0 10px;
    font-size: 25px;
}
footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
}
footer .newsletter i {
    margin-left: -40px;
    vertical-align: middle;
    font-size: 21px;
}
.copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
}
.copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
}
.copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
}
.copyright ul {
    justify-content: center;
}
.copyright li {
    color: #919191;
    font-size: 14px;
}
.copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}
.copyright .CTA {
    margin-top: 25px;
}
.copyright .CTA li a {
    color: #919191;
}

/*Fin Footer*/

/*Fin Home Page*/

/*Debut Responsive*/

@media (max-width: 1200px) {
    .quadrillage, .about-us, .economie {
        padding: 60px 40px;
    }
    .about-us .text, .economie .text {
        padding: 0 32px 0 0;
    }
    .about-us .image-container, .economie .image-container {
        align-items: center;
    }
    .quadrillage .text {
        padding: 0 0 0 32px;
    }
}

@media (max-width: 992px) {
    body {
        padding: 0;
    }
    .dots {
        display: none;
    }
    header {
        height: calc(100vh - 10px);
    }
    header nav .logo {
        padding-left: 0;
    }
    .about-us {
        display: block;
        padding-top: 50px;
    }
    .about-us .text , .economie .text {
        padding: 0 0 40px;
    }
    .about-us .image-container .image1, .economie .image-container .image1 {
        margin-left: 0;
    }
    .quadrillage {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .quadrillage .text {
        padding: 20px 20px 0 0;
    }
    .economie {
        display: block;
        padding: 30px 20px 60px;
    }
    .contact {
        display: block;
        padding: 78px 20px;
    }
    .contact .form {
        margin-left: 0;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 25px;
    }
    header nav .toggle {
        display: block;
    }
    header .navigation-bar {
        position: fixed;
        top: 0;
        left: -174px;
        height: 100%;
        background-color: #262526;
        overflow: hidden;
        z-index: 20;
        padding: 40px;
    }
    header .navigation-bar ul {
        display: block;
        padding-top: 40px;
    }
    header .navigation-bar ul li {
        text-align: left;
        padding: 14px 0;
    }
    footer .contact-container {
        display: block;
    }
    footer .social-media {
        margin-bottom: 40px;
    }
    .copyright ul {
        display: block;
        margin-top: -20px;
    }
    .copyright li {
        margin-bottom: 5px;
    }
    .copyright li:not(:last-of-type):after {
        content: '';
    }

}

@media (max-width: 576px) {
    h3, h1 {
        font-size: 40px;
    }
    h2 {
        font-size:90px
    }
    header {
        padding: 0;
    }
    header nav .logo {
        padding-left: 0;
    }
    header nav .toggle.active {
        left: 36%;
    }
    header .navigation-bar.show {
        padding: 20px;
        width: 48%;
    }
    .about-us, .economie {
        padding: 60px 20px;
    }
    .quadrillage {
        padding: 60px 0 60px 20px;
    }
}

/*Fin Responsive*/

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #420a88;
}

::-webkit-scrollbar-thumb:hover {
    background: #B227AB;
    border: none;
}


/* Optionnel mais par soucis de particit&é */
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Tests */


/* Animation sur logo */

.text img {
    animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.copyright li a:hover {
    text-decoration: underline;
}
